[2019-10-09 17:50] brentru opened #10 "Implement exponential backoff/retry for reconnections"
To avoid placing load on MQTT servers like Adafruit IO, Google Cloud IoT Core, or Amazon AWS IOT, reconnections should add an optional flag for implementing an exponential backoff after failed reconnection attempts. This will also help avoid throttling errors from the server.

`reconnect()` method: https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/master/adafruit_minimqtt.py#L585

S

[2019-10-12 07:59] doraess opened #11 "Object 'ESPSPI_WiFiManager' doesn't have attribure 'esp'"
When using simple example of mqtt library, I get this error:

AttibuteError: Object 'ESPSPI_WiFiManager' doesn't have attribure 'esp'

just when connecting with the broker.

[2019-10-12 09:29] jerryneedell commented on #11
Please post the code you are executing and describe the hardware configuration (what boards, what version of Circuitpython).

[2019-10-12 10:03] jerryneedell commented on #11
Which example are you using? this one > https://learn.adafruit.com/mqtt-in-circuitpython/circuitpython-usage#code-usage-4-4

[2019-10-12 11:46] doraess commented on #11
Yes, this one with different broker. No user, no password, just like this:

mqtt_client = MQTT(socket,
                   broker='nostromo.local',
                   username='',
                   password='',
                   network_manager=wifi)

[2019-10-12 11:53] jerryneedell commented on #11
Tased on your post in another repostory, I assume this is also on your PyPortal.  Have you updated it? Both CircuitPython and the libraries?

[2019-10-14 13:18] brentru commented on #11
@doraess  You do not have the latest version of ESP32SPI installed, `esp` has been an attribute of WiFiManager since https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/commit/54bcb5a53ad338f7b33a937ea1459b708800c2c8#diff-0e68a11e929848eefb03dcfc4cbf3497

Please head over to https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/releases to download and install the latest version of E

[2019-10-21 12:53] brentru commented on #11
Closing as issue is likely a library mis-match. Please re-open if you're still having issues.

[2019-10-21 12:53] #11 closed

[2019-11-30 06:37] robmarkcole opened #14 "Broker from IP address"
Hi
I use a locally hosted mqtt broker and using paho it is fine to just provide the IP address of the broker (defaults take care of the rest). However using this lib I am getting an error:
[code]
I see the broker address must be a string. What is the recommended approach for using an IP address?
Thanks

[2019-11-30 06:43] robmarkcole commented on #14
My bad, I used the wrong address! I required
[code]

[2019-11-30 06:43] #14 closed

[2019-12-28 15:01] jerryneedell opened #16 ".encode not available on STM32F05 build -- potential workaround"
The STM32F405 build does not have .encode available.
see this discussion https://github.com/adafruit/circuitpython/issues/2433#issuecomment-569422114

I have a fix for this -- so it works without .encode
do you want a PR for it?

here are the diffs
[code]

note the change at line 129 -- the STM build microcontroller.cpu.uid is only 12 bytes so this was failing -- I set it to len() to avoid the err

[2019-12-28 19:18] jerryneedell commented on #16
regarding the length of microcontroller.cpu.uid I have found that it varies
for atmel MCUs it appear to be 16 bytes long, but for nrf52840's it is only 8! Has anyone tried this library on an nrf52840??
For the stm32f405 it is 12 bytes

so regardless of the .encode issue, it looks like line 129 should be changed.

Do you want me to create a PR for that? would you prefer 2 different PRs?
one for .en

[2020-01-06 11:41] jerryneedell commented on #16
@brentru The STM32F405 issue has been made moot since .encode is now available in current master.
1)Do you think it useful to make these changes anyway just so it is not necessary to have it?
2)Line 129 definitely needs to be fixed. Should I just do that in a PR by itself?

[2020-01-06 14:59] brentru commented on #16
@jerryneedell  1) Let's leave it as-is, `.encode`. should work the same across MCUs

2) Yes, I'd be thankful if you could create a new PR for that. I have some thoughts...

for atmel MCUs it appears to be 16 bytes long, but for nrf52840's it is only 8!
Has anyone tried this library on an nrf52840?? It will likely fail half the time due to this.
For the stm32f405 it is 12 bytes ( you have a 75 % ch

[2020-01-06 15:13] jerryneedell commented on #16
I'm open to anything -- should I just go ahead with the change to I proposed for now (using len()) or do you want to implement something else now.

[2020-01-06 15:17] brentru commented on #16
Let's implement it with `time.monotonic` instead of cpu id

[2020-01-06 15:44] jerryneedell commented on #16
OK -- something like this?
[code]
will it be a concern that on reboot of an MCU, time.monotonic() always starts at 0 and the see value may be somewhat deterministic if the call to initialize is executed at the same time after boot.

[2020-01-06 15:51] brentru commented on #16
Possibly, the case where this would be applicable is if both devices are sitting on the same power breaker (for example) and reboot at the same time. We could wait a random amount of time, we could also increase the range of the `randint` we're hashing with.

[2020-01-06 15:56] jerryneedell commented on #16
maybe
[code]
uses some fractional seconds as well

[2020-01-06 15:59] brentru commented on #16
Let's go with that 👍

[2020-01-06 17:57] jerryneedell commented on #16
PR submitted -- tested on grand_central_m4
unfortunately stm32f405 has still not been updated to include .encode -- WIP

[2020-01-07 21:55] brentru commented on #16
@jerryneedell  Ok - when the https://github.com/adafruit/circuitpython/pull/2457 WIP works and releases, please update or close this issue.

[2020-01-09 00:15] jerryneedell commented on #16
fixed via https://github.com/adafruit/circuitpython/pull/2457

[2020-01-09 00:15] #16 closed

[2020-04-01 23:13] jimbobbennett opened #25 "Broker hostname needs to start with http or https otherwise an error is raised"
I'm working against the latest version of this with the breaking changes from #21. I've made the required changes to set the socket and changed the call to `__init__`.

I'm hitting a bug with connecting. When I call `connect` I get an error:

[code]

Digging into the code I see this at line 215:

[code]

It looks like the code is checking for `http://` or `https://` at the start of the broker name

[2020-04-02 13:14] brentru commented on #25
Yep, I updated the code to avoid the user from having to set their `port`.

Will look into this, assigned.

[2020-04-03 20:50] dhalbert commented on #25
Another user hit this; they specified a numeric IP `'xxx.xxx.xxx.xxx'` as the broker string, which got parsed into four octets, and then the `split()` failed because it wasn't a string. `self.broker` ends up as either octets or a string, due to this code:
https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/dd1e3f22ab6461c74fdb6de9c0b02e101b13fc56/adafruit_minimqtt.py#L122-L125

[2020-04-04 05:37] brendannm720 commented on #25
Hello! I'm the user that Dan H just mentioned.

I think in trying to make it easier for beginners, we may have made it more difficult for advanced users who know that MQTT is not HTTP or HTTPS.  I would never have dreamed that I'd have had to put in http or https in my broker address, but then again, I'm a network engineer.  Also, I think it's  wrong to teach beginners this particular syntax -- wh

[2020-04-09 18:44] bangell opened #26 "lines 216 and 220 both modify the broker string, thus not allowing reconnect to work"
proto, dummy, self.broker = self.broker.split("/", 2)

self.broker gets modified during connect, however if you do a reconnect, it tries to parse broker again, however broker was already parsed down (removed the photo, and path).  the split fails as  broker only contains the host address and there are not enough values to unpack.  I would have done a request for pull on this, but didn't know how y

[2020-04-10 05:09] bangell commented on #26
try:
            proto, dummy, self.broker, path = self.broker.split("/", 3)
            # replace spaces in path
            path = path.replace(" ", "%20")
        except ValueError:
            proto, dummy, self.broker = self.broker.split("/", 2)
            path = ""

This code in connect will not work when called by reconnect because the broker string gets modified here. It fails in the exce

[2020-04-10 19:48] brentru commented on #26
@bangell  Since `self.broker` is only within `init` and `connect`, we could handle this by creating a new `broker` variable and preserving the value of the original `self.broker`:

`            proto, dummy, broker, path = self.broker.split("/", 3)`
`        proto, dummy, broker= self.broker.split("/", 2)`

[2020-04-10 22:28] brentru commented on #25
@brendannm720 @jimbobbennett  OK, I agree with both of these points. Thanks for the further clarification and both of your opinions on this.  I'll be looking at MiniMQTT this upcoming week with cellular sockets, will roll back to relying on the `is_ssl` option to determine the port (if not already set in `__init__`)

[2020-04-11 20:50] bangell commented on #25
issue #26 and this issue is the same.  one self.broker = _the_interface.unpretty_ip returns 4 octets, but the remainder of the code expects a string.. I would just remove that try/except block.  also you next issue will be down in connect in the first try block.  in the except block it doesn't handle just a xx.xx.xx.xx for broker.  so i would just check for '/' there and not do the split.  Now the

[2020-04-11 20:52] bangell commented on #25
I also think proto should be saved as it will be needed during reconnect.  reconnect will need proto, port, path, and broker as they were already parsed out.

[2020-04-17 20:37] jimbobbennett opened #28 "Reconnect gets stuck in an infinite loop"
I'm implementing reconnect logic in my Azure IoT library, and I've hit what looks like an in infinite loop in the reconnect logic.

When I call `reconnect`, the function call never ends. A quick read of the code shows this:

[code]

LInk:

https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/bd241552379c9197ed1d8f3ce1f2ea0a5b8910bf/adafruit_minimqtt.py#L617

The `subscribe` method puts

[2020-04-21 19:38] jimbobbennett commented on #26
Hey @bangell - this should be fixed in the [latest release](https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/releases/tag/2.2.0). Can you test my fix please and see if it resolves this issue.

[2020-04-21 20:06] bangell commented on #26
you bet!

[2020-04-23 20:43] bangell commented on #26
Thanks, it worked like a champ!

[2020-04-24 19:41] #26 closed

[2020-05-01 15:45] #28 closed

[2020-05-03 20:26] seantibor opened #31 "Publish fails on large MQTT message sizes"
When the length of the message and topic is longer than 125, an IndexError is thrown on the pkt bytearray.

test code:
`for i in range(500):
    print("publishing string of length {}".format(i))
    client.publish("testing/message", "a" * i)`

result:
`Published to testing/message with PID 0
6351.95: DEBUG - Sending PUBACK
publishing string of length 111
Traceback (most recent call last):
  File "

[2020-05-03 23:58] seantibor commented on #31
@brentru - Digging into the umqtt.simple library from the micropython implementation shows that they use a 4-byte packet for the control byte and to communicate msg length where the adafruit library uses a 2-byte packet.

from [umqtt.simple](https://github.com/micropython/micropython-lib/blob/master/umqtt.simple/umqtt/simple.py) line 110:
`bytearray(b"\x30\0\0\0")`

corresponding line 65 from [ada

[2020-05-19 21:26] #25 closed

[2020-05-20 14:40] brentru commented on #31
@seantibor  Could you provide an example of the code you're using? The JSON data doesn't look like it's greater than the `MQTT_MSG_MAX_SZ`

[2020-05-24 15:33] seantibor commented on #31
Sure. Here is the primary code file and the class that I created for my pool thermometer.

code.py:
[code]

thermometers.py:
[code]

[2020-06-03 19:23] brentru opened #35 "Rename last_will method -> will_set"
Keeping in-line with Paho-MQTT, we may want to change `last_will` -> `will_set`. It's more descriptive and defines the method better.

Paho Implementation: `will_set(topic, payload=None, qos=0, retain=False)`

Our Implementation:
https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/master/adafruit_minimqtt.py#L192

[2020-06-04 18:10] brentru commented on #35
Additionally, LWT should not be called within init since LWT should be set independently prior to connecting.

[2020-06-04 18:19] brentru commented on #35
`payload` also needs to be converted into bytes, checking does not occur within `last_will`, causing a failure when attempting to fix.

calling: `client.will_set("devices/{}/status".format(client_id), payload=1, retain=True)`
error:
[code]

[2020-06-04 19:58] #35 closed

[2020-06-05 16:18] brentru opened #37 "Add topic-specific callback methods"
Currently, this library returns a message callback containing a topic and payload if a subscription has been updated.

While one could filter for a specific MQTT topic within the `on_message` method, it is clunky.

This enhancement would add message callbacks which only trigger on a specific topic match.
Note: Topics _must_ be subscribed to, prior to adding the callback handler.

Proposed methods:

[2020-06-07 21:53] jimbobbennett opened #39 "The default value for the payload parameter is not supported in the will_set method"
To reproduce:

Call the `will_set` method and leave the `payload` parameter as its default value of `None`.

This causes an exception of `Message can not be none`.

If the payload can't be `None`, then it should not have a default value of `None` - all default values should work as their existence implies that the value is allowed.

[2020-06-18 22:40] bangell opened #40 "circuitphyton 5.x and version 3.1.0"
I am getting an issue when i update my minimqtt library that i haven't had in the past.  the .mpy file  gives this error
AttributeError: 'module' object has no attribute 'set_socket'

import adafruit_minimqtt as MQTT
MQTT.set_socket(socket, esp)  <-----

if i grab the .py file from GitHub, it works as it should.  Do I need to do anything using .mpy file?

[2020-06-19 13:24] brentru commented on #40
@bangell  What code.py are you running - could you copy and paste it below?

[2020-06-19 16:59] bangell commented on #40
@brentru, i am using the example minimart_adafruitio_wifi.py

`# Adafruit MiniMQTT Pub/Sub Example
# Written by Tony DiCola for Adafruit Industries
# Modified by Brent Rubell for Adafruit Industries
import time
import board
import busio
from digitalio import DigitalInOut
import neopixel
from adafruit_esp32spi import adafruit_esp32spi
from adafruit_esp32spi import adafruit_esp32spi_wifimanager
impo

[2020-06-19 17:39] caternuson commented on #40
Looks like the code was refactored into a subfolder which will change the imports currently being used in the examples:
https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/4f01403b598532715c9a8713121ba148daf73d56/examples/minimqtt_simpletest.py#L9
and also guides?
[code]

related:
https://forums.adafruit.com/viewtopic.php?f=58&t=166556

[2020-06-22 13:43] brentru commented on #40
@caternuson  I'm going to update examples to import correctly and check against existing learn guides today.

[2020-06-22 15:06] brentru commented on #40
Fixed in #41, released in `3.1.1`.

https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/releases/tag/3.1.1

[2020-06-22 15:06] #40 closed

[2020-06-23 16:07] #37 closed

[2020-06-23 18:44] brentru commented on #31
@seantibor  I'm taking another look at this per @caternuson's request (and for a project I'm working on). There's a similar issue when receiving payloads >127b from a subscribed topic.

I'll need to implement the remaining length calculation described in the MQTT v3.1.1 spec (https://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718030) for both `publish()` and `subscribe()`

[2020-06-23 18:45] seantibor commented on #31
That sounds good. I'm making another run at this with an ESP32 and micropython for a battery powered sensor project, so I'll let you know how that implementation goes.

[2020-06-23 18:50] brentru commented on #31
@seantibor  please do, though, likely it'll have the same exact issue (as MiniMQTT is based on of MicroPython-uMQTT).

[2020-06-25 18:07] brentru commented on #31
This issue is addressed in this PR: https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/pull/42

After testing, topic subscriptions seem to be able to receive > 127 byte payloads (msg+topic).

[2020-07-03 14:17] brentru commented on #31
Fixed in #42, released in v3.2.0 - https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/releases/tag/3.2.0

[2020-07-03 14:17] #31 closed

[2020-07-10 18:06] brentru opened #43 "CPython socket compatibility"

[2020-07-10 18:07] brentru commented on #43
I'm working on this over on https://github.com/brentru/Adafruit_CircuitPython_MiniMQTT/tree/update-for-cpython-compat

[2020-07-22 02:43] 2bndy5 commented on #39
To be clear, are we expecting to mimic paho_mqtt behavior? In that case, a payload of `None` would be replaced with a zero-length string as described in `will_set()` of the [paho_mqtt docs](https://pypi.org/project/paho-mqtt/#option-functions).

[2020-07-22 15:19] brentru commented on #39
@2bndy5  @jimbobbennett  Yes, I'd like to be in-like with paho mqtt as much as possible in this library.

[2020-07-26 14:25] hussnainahmed opened #48 "MiniMQTT client timeout after successful connection with ESP_ATControl"
I am trying to connect to mqtt broker via wifi from Particle Argon device using circuitpython minimqtt. Wifi setup was done using ESP AT Control as in this example https://github.com/adafruit/Adafruit_CircuitPython_ESP_ATcontrol/blob/master/examples/esp_atcontrol_simpletest.py.
For testing mqtt publish, I am using minimqtt simple test example https://github.com/adafruit/Adafruit_CircuitPython_Mini

[2020-07-28 13:51] brentru commented on #48
This library does check for a CONNACK from the broker (https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/master/adafruit_minimqtt/adafruit_minimqtt.py#L369).

The keep-alive in this library (https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/master/adafruit_minimqtt/adafruit_minimqtt.py#L131) is set to 60 seconds, does this match the keep-alive of your Mosquitto broker

[2020-07-29 14:37] brentru commented on #39
fixed by https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/pull/47

[2020-07-29 14:37] #39 closed

[2020-07-29 22:20] hussnainahmed commented on #48
Yes, the default keep-alive for Mosquito broker is also 60 seconds. I did not change it.

[2020-08-07 13:19] brentru commented on #48
Does the disconnection happen immediately _after_ connection, or _after_ another action (publish, subscribe)?

[2020-08-10 19:55] hussnainahmed commented on #48
[code]
From these logs, you can see it connects then after 90 seconds (60s keep-alive + grace period ) it disconnects. No publish subcribe.

[2020-08-14 14:57] brentru commented on #48
@jerryneedell  Have you encountered something similar to this with the Particle boards and MiniMQTT?

[2020-08-25 07:00] askpatrickw commented on #43
Hey @brentru, I was trying to use your library with
https://github.com/tannewt/Adafruit_CircuitPython_Requests/blob/http11/adafruit_requests.py#L358
And I ran into an issue of the socket_module not being set.

I tried to mimic what _get_socket in requests is doing there by adding socket_pool and ssl_context parameters to MQTT.__init__ and commenting out the check for socket_module in _get_socket.

[2020-08-25 13:51] brentru commented on #43
@askpatrickw  I'm not sure what you're using the Requests module for, this library doesn't rely on it.

Could you post your full _code.py_ using this branch so I can take a look at it? I have not tested this on ESP32-S2 yet - waiting on scott's requests fork to be PR'd so I can keep this branch in-line with the final implementation.

[2020-08-25 18:20] askpatrickw commented on #43
Hey @brentru thanks for offering to take a look, here's a full walk through first with your code and then with my attempts...

My code.py is essentially the simple example I'll only show the setup and connect.

There is no way to do his part:
`MQTT.set_socket(socket, esp)` so I commented it out.

[code]
Output
[code]

That lead me to compare your version of MiniMQTT to Scott's adafruit_requests an

[2020-08-25 19:21] tannewt commented on #43
@askpatrickw Please push a draft PR of your changes. Explaining them here is harder to follow than a PR. It's also not really an issue with this repo if your code is modified. :-)

[2020-08-25 19:49] askpatrickw commented on #43
OK I PR'd to Brent since my changes are from his changes.

[2020-10-30 16:40] johnny5th opened #50 "Invalid broker address"
I've been playing with the Adafruit Matrix Portal to display some data from an AWS MQTT broker, and I've been running into an intermittent issue. After some period of time, it can be over 30 minutes or more, MiniMQTT throws an exception in the reconnect loop and dies, and I can't figure out why. Resetting the board makes it work again. Using libraries from adafruit-circuitpython-bundle-6.x-mpy-202

[2020-10-30 16:41] ladyada commented on #50
try the very latest release of esp32spi library - we just fixed a few bugs!

[2020-10-30 16:46] johnny5th commented on #50
Thanks ladyada! I swapped the lib out and am letting it run.

[2020-11-04 15:08] brentru commented on #50
@johnny5th  Any update? Still having the same error or is it fixed?

[2020-11-04 15:09] johnny5th commented on #50
All Fixed! It's been running for 12 hours straight now. Thanks again!

[2020-11-04 15:09] #50 closed

[2020-11-10 09:34] ehagerty commented on #43
Hi forgive me if this is the wrong way to ask this question.  We have a current production stack using esp32 boards, micropython and google's MQTT stack.  I want to move us to CP, however in endeavouring to do so, I ran into what I assume is the basis for this thread.  At present am I correct that minimqtt assumes that an esp32 board is only/always an SPI based co-processor, ergo when I try to use

[2020-11-10 09:39] askpatrickw commented on #43
@ehagerty  You're 100% correct.

[2020-11-10 09:42] ehagerty commented on #43
@askpatrickw wow, now that's service with a smile!  Should I go ahead and write my own based on the original?  Sorry, just don't know the rules of the road in CP land.  Thanks so much for your time!

[2020-11-10 09:45] askpatrickw commented on #43
I think a PR is always welcome in CP land. Jump on the Discord and say hi. https://adafru.it/discord

[2020-11-10 16:03] ladyada commented on #43
we'll be working on adding esp32s2 support to this library this month, we only recently got `requests` working well - if you can use REST for your project you could start there

[2020-11-10 21:05] brentru commented on #43
@ehagerty  ^ ESP32S2 and CPython support to this library this month - you don't need to roll your own.

I'll list the branch I'm working off of in a subsequent reply on this issue. feel free to jump in as I work on it, I'm on the discord as @brentru. I'll also comment here when we have a stable PR ready for the community.

You mentioned Google's MQTT stack - are you aiming to use this library on w

[2020-11-11 08:11] ehagerty commented on #43
Goodness @ladyada, I'm so sorry to cause any trouble!  You are very kind to take the time to respond.  @brentru thank you so much as well, I will move over to Discord - sorry old habits die hard.  Yes, we use google's IoT stack in production and I took an old tutorial of theirs a year or so ago and made it work for us on MicroPython.  Just wanting to move over to the SP world now, particularly b/c

[2020-11-18 03:43] codingbandit opened #51 "import failing - cannot perform relative import"
I am attempting to use this library from the [CircuitPython library download, version 6](https://circuitpython.org/libraries), but as soon as I include the import (as shown in the examples), I am receiving an error "cannot perform relative import".  Line 48 of adafruit_minimqtt.py is relatively loading the matcher.

I ultimately would like to use this library with the [Adafruit Azure IoT library](

[2020-11-18 04:26] codingbandit commented on #51
I've worked around this issue temporarily by copying the source files, I moved the matcher class directly into the adafruit_minimqtt.py file, and in the source file in the Azure IoT library (iot_mqtt.py) changed the imports to :

import adafruit_minimqtt.adafruit_minimqtt as minimqtt
from adafruit_minimqtt.adafruit_minimqtt import MQTT

So I am functional :)

[2020-11-18 15:55] brentru commented on #51
@codingbandit Thanks for reporting this. I'm working "in" this library this week (addressing some issues) and I'll take a look at this issue.

Do you mean you copy and pasted the code for the `matcher` class into MiniMQTT as a separate class?

Also - it seems this issue is also relevant to how the Azure IoT library imports in `iot_mqtt`, could you please file an issue on that repository as well?

[2020-11-19 00:05] codingbandit commented on #51
Hi @brentru - yes, I just went ahead and included the matcher class in the adafruit_minimqtt.py temporarily when I copied the files over. I didn't really test if was necessary TBH. I will file an issue with the Azure IoT library once this one gets straightened out (this way we won't be chasing each others tails :) ) - thank you so much!

[2020-11-21 10:32] bhopkinson opened #52 "ModuleNotFoundError: No module named 'adafruit_minimqtt'"
I am trying to use minimqtt on linux (running in a docker container), however I am having trouble installing and importing the module.

I have installed the following packages:

[code]

I can confirm that these have been installed with `pip3 list`:
[code]

However if I try `import adafruit_minimqtt.adafruit_minimqtt as MQTT` then I get the following error:
[code]

My output of `help("modules")` is

[2020-11-23 14:31] brentru commented on #52
This library does not yet work with CPython/Linux. It is being currently worked on https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/issues/43.

I'll leave this issue open so I can address it when bringing in the CPython compatibility changes.

[2020-11-23 14:32] #48 closed

[2021-01-02 01:59] codingbandit commented on #51
@brentru - just an FYI - I don't seem to be having this issue any longer (I did a fresh download of CircuitPython and the libs and I am not getting the relative import any longer. Feel free to close this one if you would like. In the meantime, I will submit a PR into the Azure IOT with the fixed imports.

[2021-01-04 16:15] brentru commented on #51
Ok - will be replying over on https://github.com/adafruit/Adafruit_CircuitPython_AzureIoT/pull/23

[2021-01-04 16:15] #51 closed

[2021-01-12 23:16] flavio-fernandes opened #54 "Wrong semantics for size in socket.recv() causes sporatic failures in message parsing"
The code for socket read has a buffer size param that indicates the _maximum_ number of bytes
that can be returned within a single call:

https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/blob/fce466bd2bb70ca86b79e5cb36bbaca00afacfd1/adafruit_esp32spi/adafruit_esp32spi_socket.py#L107-L112

Trouble is, MQTT is using that param as if that would be the _minimum_ number of bytes that should

[2021-01-19 08:01] eukrit commented on #43
@brentru @askpatrickw thank you for pointing me here. I've read the whole thread and learned that CPython now supports ESP32-S2. but where can I find sample code or tutorial to with with MQTT? another question, what is SP?

[2021-01-19 08:26] ehagerty commented on #43
hi @eukrit, 'sp' was my typing error, i meant 'cp' as in CircuitPython.  sorry :-)

[2021-01-19 08:35] askpatrickw commented on #43
@eukrit  Until this issue is closed, the MQTT library won't work with the ESP32-S2.

If you're interested in what the  work is, you can look at the adafruit_circuitpython_requests library where a similar change to support the onboard WIFI of the esp32-s2 (using a CPython like socketpool) was implemented where it previously only supported the esp32 WIFI sub-board accessed over SPI as the minimqtt d

[2021-01-19 13:22] eukrit commented on #43
@askpatrickw I thought this release means that work is ready? https://github.com/adafruit/Adafruit_CircuitPython_AdafruitIO/releases/tag/5.0.0
Please correct me if I'm wrong here.

[2021-01-19 17:16] askpatrickw commented on #43
@eukrit That is the Adafruit_IO Library it does not use this general purpose MiniMQTT library.
Why don't you jump over to the Discord Server if you have more questions. https://discord.gg/adafruit that's a more appropriate place for discussions. Or the Forums...

[2021-01-20 15:14] brentru commented on #43
@eukrit  For clarification - the Adafruit IO CircuitPython Library's HTTP API object works with ESP32-S2. This class uses the Adafruit_CircuitPython_Requests library and the Adafruit IO HTTP API (`IO_HTTP`), not MQTT. Examples can be found here: https://github.com/adafruit/Adafruit_CircuitPython_AdafruitIO/tree/5.0.0/examples/adafruit_io_http

Adafruit IO also has a MQTT API. The Adafruit IO Circu

[2021-01-22 14:53] #54 closed

[2021-01-27 19:19] makermelissa opened #57 "Dev Branch Error on Unsubscribe on HA MQTT"
Here's what I got using Home Assistant's MQTT Broker. It had previously done some successful unsubscribes with a response of `bytearray(b'0')`, but here's the info for the crash.
[code]

[2021-01-27 19:24] brentru commented on #57
@makermelissa  Could you turn logging on for a more verbose error output? https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/master/adafruit_minimqtt/adafruit_minimqtt.py#L98

[2021-01-27 20:47] makermelissa commented on #57
Ok, I may have grabbed it from your main branch when I encountered this. I definitely have it running off dev branch now and haven't seen this issue again. If I don't see it anymore, I'll close. If I do, I'll turn on logging.

[2021-01-27 20:58] makermelissa opened #58 "Dev Branch 'SocketPool' object has no attribute 'timeout'"
I found this on the ESP32-S2 Metro using the Dev Branch. It only happens occasionally"
[code]

[2021-01-27 22:18] makermelissa commented on #57
Yeah, I'm not seeing this anymore

[2021-01-27 22:18] #57 closed

[2021-01-27 22:19] makermelissa commented on #58
I replaced line 874 with `except OSError:` and that seems to be working now.

[2021-01-28 23:19] sops21 opened #59 "Catch MMQTTException"
I'm trying to catch MMQTTException errors
[code]

But then I received:
`NameError: name 'MMQTTException' is not defined`

Is there a better way to catch the exceptions?

[2021-01-29 15:12] brentru commented on #59
`MMQTTException ` is a class defined in `adafruit_minimqtt` so you'd need to add the following line to the top of your code.py:

`from adafruit_minimqtt.adafruit_minimqtt import MMQTTException`

[2021-01-29 16:44] sops21 commented on #59
Thanks that worked!
Is that more correct than doing:
`except (ValueError, RuntimeError, MQTT.MMQTTException) as e:`

Just wondering as I'm pretty new to python.

[2021-01-29 16:52] brentru commented on #59
Assuming you imported `MQTT` using `import adafruit_minimqtt.adafruit_minimqtt as MQTT`, they're both valid..

The import statement above imports the entire module, `adafruit_minimqtt.py` which includes two classes, `MQTT` and `MMQTTException`
https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/master/adafruit_minimqtt/adafruit_minimqtt.py

By just calling `...import MMQTTException`,

[2021-01-29 16:52] #59 closed

[2021-01-29 19:40] brentru commented on #58
@makermelissa  Thanks for finding this type of bug. Which `OSError` does it throw?

[2021-01-29 20:44] makermelissa commented on #58
That's the thing, it never does throw an error. It just didn't like that timeout didn't exist in SocketPool, which is why I noted that it's probably not the right way to do it.

[2021-01-29 20:48] makermelissa commented on #58
Ok, removed the try/except bloack and got:
[code]

[2021-01-29 20:50] brentru commented on #58
Thanks for finding it, I'll catch that specific error

[2021-01-29 20:58] makermelissa commented on #58
Ok this code block seems pretty solid:
[code]

[2021-01-31 05:29] rpavlik opened #60 "Exception tricky to troubleshoot when defaulted to SSL but broker is not SSL"
I'm using a MatrixPortal successfully connected to wifi, on a network with a mosquitto mqtt server, no authentication or security on that. circuitpython 6.1.0, latest library bundle (I think - circup isn't working for me today, but I hand-selected the libraries I think I needed and copied them manually from the bundle), latest nina firmware on esp32, mqtt broker is specified by ip (v4) address in

[2021-01-31 18:58] askpatrickw commented on #60
@rpavlik  can you open an issue in the circup repo explaining what didn't work. I've been working on it lately. Ty!

[2021-01-31 21:40] askpatrickw commented on #60
@rpavlik  If this is the issue you saw https://github.com/adafruit/circup/issues/75.
Circup has been fixed and released, new version is 0.9.0

[2021-01-31 22:47] rpavlik commented on #60
OK, so that fixed the circup issue (though I was getting filename corruption if I tried installing all the libraries). I started fresh with an erased filesystem and just the stuff I absolutely need. Here's what circup freeze says I have:

- adafruit_fakerequests==1.0.0
- adafruit_pypixelbuf==2.2.2
- adafruit_requests==1.9.4
- neopixel==6.0.1
- simpleio==2.1.3
- adafruit_scd30==2.0.0
- adafruit_log

[2021-02-01 03:02] rpavlik commented on #60
Ah, it was defaulting to use tls/port 8883, which is at least part of it.

[2021-02-01 03:04] rpavlik commented on #60
Unfortunately, it's now just failing in the other half of the condition.

[code]

[2021-02-01 03:55] rpavlik commented on #60
Tried re-flashing the esp32, then using the basic outline of the wifi test code. Looked the same as what I was using, but without the wifi manager. This does appear to work, at least after I properly re-type the IP address of my broker. Turning other code back on bit-by-bit.

[2021-02-01 14:42] brentru commented on #60
Which version of nina-fw (https://github.com/adafruit/nina-fw) is running on your ESP32?

[2021-02-03 15:23] brentru commented on #58
This has been addressed in #61 and released.

[2021-02-03 15:23] #58 closed

[2021-02-03 15:23] brentru commented on #43
This has been addressed in #61 and released in v5.0.0 🎉

[2021-02-03 15:23] #43 closed

[2021-02-03 21:06] brentru opened #62 "CPython example not working with secure broker"
This library currently works with CPython sockets connecting to a insecure MQTT broker port (1883) but falls down when attempting to connect to a secure MQTT broker port (8883):

[code]

[2021-02-03 21:18] brentru commented on #62
Digging deeper, this is more an issue with the example itself and the macOS SSL installation under Python3 than the library, I'll be making a pull request shortly to fix it.

In the future, if a user on macOS gets `[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl.c:1123)`, they'll need to upgrade the `certifi` package by running the fol

[2021-02-03 21:23] tannewt commented on #62
Why are you using FakeSSLSocket when using CPython? Your self._ssl_context should be from the real `ssl` library.

[2021-02-03 21:24] tannewt commented on #62
FakeSSLSocket should only be used with ESP32SPI.

[2021-02-03 21:31] brentru commented on #62
@tannewt  The code which threw this error incorrectly did not pass the `ssl_context` into the MiniMQTT constructor and looked like:

[code]

Instead of:

[code]

[2021-02-03 21:42] brentru opened #64 "Add test suite"
Similar to work done within requests (https://github.com/adafruit/Adafruit_CircuitPython_Requests/tree/master/tests), this library should have a test suite which tests the MQTT protocol

[2021-02-03 22:18] brentru commented on #62
Looking at how requests does it, we should be throwing a `RuntimeError` that the `"ssl_context must be set before using adafruit_mqtt for secure MQTT."` here https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/master/adafruit_minimqtt/adafruit_minimqtt.py#L253

[2021-02-06 01:39] sops21 opened #66 "Client Disconnects from Server on new publish"
I'm running an Ethernet Feather Wing and the m4 Express Feather. I'm running the current version of adafruit_minimqtt and adafruit_minimqtt with CircuitPython 6.1.0.

After connecting to a local Mosquitto broker, the client will disconnected after I publish (From another client)  to the same subscription. I don't see any error or crashes on the serial monitor, but on my broker log, I see:

"Client

[2021-02-07 16:38] rpavlik commented on #60
1.7.1, tested reinstalling. Thought I had added results, but I guess not. Trying to figure out how I got it to fail, since it's working now (though the scd30 is erroring, might be too much current or something?)

[2021-02-07 16:44] rpavlik commented on #60
OK, I think this was mostly about missing the detail that it assumes SSL and port 8883 by default. The exception message might be a bit more useful (they're already split so wouldn't be too bad to adjust) for folks who have no ssl inside their lan, but it appears like it's not actually anything to do with the wifi manager or the matrixportal library or anything.

[2021-02-07 16:58] rpavlik commented on #60
ah, I was behind by 1 major release. Now it errors different if you get the ssl-ness wrong. Maybe edit line 272 so that it says "Are you sure your broker uses SSL?" if it was defaulting to SSL?

[2021-02-08 16:30] brentru commented on #60
@rpavlik  Yeah, the client assumes you are using SSL. You may un-set it via the initializer.

What does this error look like - could you copy/paste the output from the repl here?

[2021-02-08 16:33] brentru commented on #66
You defined your MQTT topic in the "Adafruit.io style topic" format: `onoff_feed = "/feeds/onoff"`

Does the same error occur if you change the topic to a standardized MQTT topic format a-la: ``onoff_feed = "/test/topic"``

[2021-02-08 20:02] sops21 commented on #66
I replaced `onoff_feed = "/feeds/onoff"` with `onoff_feed = "/test/topic"` as far as I can tell, it is having the same result.

This is how I see the disconnect from the server console:

[code]

about a minute after that I start to see this error on the Feather console:

`MQTT Error ----
 PINGRESP not returned from broker.
`

If I ctr-c on the Feather console this is what I get:
`
Traceback (most

[2021-02-10 12:46] dlizotte-uwo opened #67 "Debug logger messages cause runtime error"
Debug messages sent to an adafruit logger that try to format a `bytearray` with a `%x` format code crash the logger. Happens at line 513 for sure, possibly also line 637.

[2021-02-10 13:08] dlizotte-uwo opened #68 ""keepalive" pings do not keep the connection alive with esp32spi"
If I connect to a broker, subscribe to a topic, and no messages arrive from the broker within `keep_alive` seconds, an exception is thrown and the object disconnects. Pings are not sent to the broker to keep the connection alive.

This happens because `loop()` is actually blocking in the esp32spi implementation, and so doesn't get a chance to send/receive a ping to reset the object's timestamp.

`

[2021-02-11 16:31] brentru commented on #67
@dlizotte-uwo  I'm not sure if this is a MiniMQTT issue and not a CircuitPython-Logging issue, since the logger is passed to this library.

Does this issue still happen when you try to log a bytearray using the example in `circuitpython-logging`? https://github.com/adafruit/Adafruit_CircuitPython_Logging/blob/master/examples/logging_simpletest.py

[2021-02-11 16:35] brentru commented on #68
Hi, thanks for filing an issue. I need some information in order to help replicate and fix this issue...

Which broker are you connecting to? What KeepAlive time are you specifying?

Could you attach the REPL log when this happens so I can see which exception is thrown, and exactly where?

This is not correct and will be addressed in a subsequent PR by removing the `_sock_exact_recv()` implementat

[2021-02-11 16:35] brentru commented on #66
This may be related to https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/issues/68

[2021-02-12 01:48] dlizotte-uwo commented on #67
Yes; same thing. circuitpython-logging uses the % operator to format strings; the % operator can't format a bytearray into a %x, it seems.

[code]

Here is what MiniMQTT does if logging at the DEBUG level:

[code]

[2021-02-12 02:19] dlizotte-uwo commented on #68
Hi; I'm connecting to a local broker, no security. (Broker is mosquitto on a mac.) It connects fine, and as long as the matrixportal gets a message within the keepalive time (like if I post every so often with mosquitto_pub) it stays connected and works reliably.

I've tried a few different KeepAlives; the exception is raised always KeepAlive seconds after the last message was received. Here's the

[2021-02-12 02:37] dlizotte-uwo commented on #68
Here's a minimal-ish example that you can also use to see the logging issue as well by changing from INFO to DEBUG.

[code]

[2021-02-12 14:43] brentru commented on #67
Ok, this is an issue with CircuitPython Logging, not MiniMQTT

Please file an issue over on the Logging repo: https://github.com/adafruit/Adafruit_CircuitPython_Logging/issues. Once it's fixed there, it'll be fixed here.

[2021-02-12 14:43] #67 closed

[2021-02-12 15:05] dlizotte-uwo commented on #67
I think for them it would be a feature request and require a fundamental change to circuitpython to allow % to format a bytearray with %x. But I'll file an issue.

[2021-02-12 19:12] sops21 commented on #66
I think I have a theory on what is happening. Still trying to come up with a solution. I do believe this is causing the problem with #68

Part 1:
` self._timestamp` is never reset when receiving new messages. This means that the keepalive ping is sent every X seconds. (Where X is the keepalive timeout). I believe this can be fixed by adding `self._timestamp = 0 ` above the return on line 870

Part

[2021-02-15 13:20] dlizotte-uwo commented on #68
Hi again; here's a modification that is working for me in case it's useful. https://github.com/dlizotte-uwo/Adafruit_CircuitPython_MiniMQTT

[2021-02-15 14:14] brentru commented on #68
@dlizotte-uwo  Would you mind opening these changes as a new pull request on this library and tagging me? I'd like to have a discussion around them. I think raising within exact_recv like you're doing in (https://github.com/dlizotte-uwo/Adafruit_CircuitPython_MiniMQTT/commit/1c0f6c80b203573ae87d280c81d072317af2b747) is a good idea and will fix the blocking issue.

[2021-02-15 14:19] brentru commented on #66
@sops21

re: part 1...The timestamp is reset within the `loop` call (https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/master/adafruit_minimqtt/adafruit_minimqtt.py#L810). `_wait_for_msg` is not meant to be called publicly.

Part 2 and 3 are likely correct, the issue may be with `_wait_for_msg`'s `sock_exact_recv` call which does not handle the case of a socket timing out. (addresse

[2021-02-15 19:14] dlizotte-uwo commented on #68
OK - I think I did the PR thing right but I've never done it before so let me know if anything is amiss. 😅

[2021-02-19 16:10] brentru commented on #68
I'm able to replicate hanging on the adafruit io simpletest with esp32spi..

[code]
  File "/lib/adafruit_minimqtt/adafruit_minimqtt.py", line 826, in _wait_for_msg
  File "/lib/adafruit_minimqtt/adafruit_minimqtt.py", line 918, in _sock_exact_recv
[code]

[2021-02-19 16:49] brentru commented on #66
@sops21 I did some testing and I believe this is fixed with this pull request: https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/pull/69. Could you also try it out?

Previously, on `master` and an Ethernet Featherwing, I'd get the following output:
[code]

Connecting to Adafruit IO...
1165.25: DEBUG - Attempting to establish MQTT connection...
1165.37: DEBUG - Sending CONNECT to broker..

[2021-02-19 16:50] brentru commented on #52
@bhopkinson  Hi, do you still have this issue? The latest version of this library is CPython compatible and may be installed using the Python package manager.

[2021-02-19 18:19] brentru commented on #68
Merged into `master`, closing

[2021-02-19 18:19] #68 closed

[2021-02-20 18:01] rpavlik commented on #60
[code]

[2021-02-22 16:55] chriswei opened #70 "MiniMQTT loop() blocking and throwing exception if no message is published to a subscribed topic during blocking"
I'm trying to use Adafruit IO's CircuitPython library on a Feather M4 Express with the Airlift FeatherWing. I want to be able to use MQTT/IO pub/sub to subscribe to a topic and publish to another topic in a loop, but the mqtt_client.loop() functions seems to block waiting for data to be posted to the subscribed topic once, then the loop call continues as expected. If I don't 'kick' the subscribed

[2021-02-23 00:07] chriswei commented on #70
Following brubell's reply to my Forums post in https://forums.adafruit.com/viewtopic.php?f=60&t=175702, I ran my code from the `master` branch of the library's repo, and the `loop()` function no longer blocks and throws exceptions.

I ran the new library code in both my code that uses the `adafruit_minimqtt` library and my code that uses the `adafruit_io` library with the `IO_MQTT` wrapper, and th

[2021-02-24 16:11] brentru commented on #70
Thanks for testing @chriswei - we've released a new version of this library to patch the blocking loop.

https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/releases/tag/5.0.2

[2021-02-24 16:11] #70 closed

[2021-02-24 16:13] #62 closed

[2021-02-25 21:51] brentru commented on #60
I was able to connect to test.mosquitto.org using its numeric IP address ('broker': "5.196.95.208", 'port': 1883).
[code]

[2021-02-25 22:57] rpavlik commented on #60
I can connect to it if I specify the port - see commented out code in requested repl log. I think the only "bug" here is that it was hard for me to figure out that the default was SSL and that's why the connection failed.

[2021-02-26 14:34] brentru commented on #60
I see - let me if we can `raise` an error anywhere or can send a message to the logger.

[2021-02-26 18:51] brentru commented on #60
Addressed in #71, closing

[2021-02-26 18:51] #60 closed

[2021-03-01 16:49] sops21 commented on #66
@brentru I can confirm that this fixed my test as well. Thanks!

[2021-03-01 16:49] #66 closed

[2021-03-05 10:36] ghayne opened #73 "Error after updating to 5.0.4 - Feathers2"
After updating to 5.0.4 on my Feathers2 I am getting the following error, the code was working on 5.0.0.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "codeold.py", line 86, in <module>
  File "adafruit_minimqtt/adafruit_minimqtt.py", line 437, in connect
  File "adafruit_minimqtt/adafruit_minimqtt.py", line 235, in _get_connect_socket
AttributeError: 'NoneType'

[2021-03-05 14:21] brentru commented on #73
@ghayne  What version of CircuitPython are you running on 5.0.4?

What does your `codeold.py` look like (what function call is it failing on?)

[2021-03-05 14:43] ghayne commented on #73
@brentru CircuitPython 6.2.0-beta.3 - I tried -beta-2 too.

It,s failing on
 `mqtt_client.connect()`

Connecting to a local MQTT server on port 1883 with parameters:

mqtt_client = MQTT.MQTT(
    broker=secrets["broker"],
    port=secrets["port"],
    socket_pool=pool
)

[2021-03-05 14:58] brentru commented on #73
Try:

[code]

[2021-03-05 15:42] ghayne commented on #73
Same error I'm afraid!

[2021-03-05 17:07] lubarb commented on #73
I'm getting the same error. I edited a copy of adafruit_minimqtt.py to remove the eight lines most recently added, and the error goes away.

Using:
[code]

[2021-03-05 21:55] bangell commented on #73
I think i know what this might be.

Im using an insecure port and no logger and it fails because":

line 230:
        if self.logger and port == MQTT_TLS_PORT:
            self.logger.info(
                "Establishing a SECURE SSL connection to {0}:{1}".format(host, port)
            )
        else:
            self.logger.info(
                "Establishing an INSECURE connection to {0}:{1}".fo

[2021-03-05 23:24] lubarb commented on #73
posslbly:

elif self.logger

instead of else?

[2021-03-13 03:56] wx-watch commented on #73
Thanks for posting this!

Adding

elif self.logger

worked for me. For whatever reason (I'm new to this) configuring a logger for my code.py worked, but still failed for the MQTT module.

[2021-03-13 09:44] ghayne commented on #73
@wx-watch - did you pass the logger to minimqtt like this:

[code]

[2021-03-13 12:17] lubarb commented on #73
@wx-watch - on further consideration the code:

[code]
is functionally the same but more clearly reflects what's being done.

[2021-03-13 14:15] wx-watch commented on #73
@ghayne Ah! First time using a logger here. I had not done:
mqtt_client.enable_logger(logging)

...and now it works with the original code. Thanks all!

[2021-03-16 16:00] bikenbruce opened #75 "unable to connect to MQTT Broker without using SSL"
Hello-
This is my first bug reporting using github, so please correct me if you need more information.

I've been testing out the PyPortal and Matrix Portal to connect with a MQTT broker that is not using an SSL based connection.  The basic configuration that I've used is:
client = MQTT.MQTT(
    broker='SERVER NAME HERE',
    port=1883,
)

and the error that I see is:
Traceback (most recent call

[2021-03-16 18:35] ghayne commented on #75
This is more or less the same as:
https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/issues/73

[2021-03-16 19:21] bikenbruce commented on #75
Yes, correct.  I'm closing this issue

[2021-03-16 19:21] #75 closed

[2021-03-17 20:59] brentru commented on #73
@ghayne  I do not see this issue anymore since updating to 5.0.5 - do you still see the issue? I tested on an ESP32-S2 Metro and ESP32-S2 MagTag with the _latest_ version of this library

[2021-03-17 21:05] ghayne commented on #73
@brentru I missed the update, I'll try it tomorrow. I hate timezones :)

[2021-03-17 21:11] ghayne commented on #73
@brentru I couldn't resist trying it - works perfectly, thank you. I'll close the issue.

[2021-03-17 21:11] #73 closed

[2021-03-17 21:47] gddeen opened #76 "sample minimqtt_simpltest.py MQTT connect error"
I run minimqtt_simpletest.py and get connect issues.

Error observed:
code.py output:
Connecting to AstroACN3
Connected to AstroACN3!
Attempting to connect to io.adafruit.com
Traceback (most recent call last):
  File "code.py", line 44, in <module>
  File "adafruit_minimqtt/adafruit_minimqtt.py", line 437, in connect
  File "adafruit_minimqtt/adafruit_minimqtt.py", line 235, in _get_connect_socket

[2021-03-18 01:12] gddeen commented on #76
[code]
Traceback (most recent call last):
  File "code.py", line 51, in <module>
TypeError: unexpected keyword argument 'log'

[2021-03-18 02:12] gddeen commented on #76
The boot_out.txt reads MagTag not Metro. Could this board think it is a Magtag?

[2021-03-18 02:30] bangell commented on #76
I believe this issue was fixed today in version 5.0.5

[2021-03-19 00:21] gddeen commented on #76
Today I got the Metro ESP32-S2 to confirm it wasn't a Magtag by loading adafruit-circuitpython-adafruit_metro_esp32s2-en_US-6.2.0-beta.4.uf2 and replacing lib directories and mpy files.

I rerun and get:

Attempting to connect to io.adafruit.com
Traceback (most recent call last):
  File "code.py", line 62, in <module>
  File "adafruit_minimqtt/adafruit_minimqtt.py", line 437, in connect
  File "ad

[2021-03-19 11:15] ghayne commented on #76
In secrets.py
Instead of
[code]
Try
[code]

[2021-03-19 19:17] gddeen commented on #76
I reloaded some of my client code to connect to MQTT.
Once I perform io.connect() it gets an exception.

Is there a more directed  way to debug this?
I am going to take all the bundle lib source for adafruit_io and adafruit_minimqtt
and put that in my library and liberally spread print() so I can follow the execution path.

Socket Pool created
Connecting to Adafruit IO...
Traceback (most recent ca

[2021-03-19 20:35] gddeen commented on #76
[code]

[2021-03-19 20:39] gddeen commented on #76
I had in secrets:
"aio_port" : "8883"
instead of
"aio_port" : 8883

Fixed

[2021-03-19 20:41] gddeen commented on #76
Thanks for all the help everyone.

[2021-03-19 21:05] brentru commented on #76
Aha! We should really validate if `port` is an integer within this lib's `init` call.

I'll leave this issue open and assign myself so I can make a small tweak.

[2021-03-20 13:23] lubarb opened #77 "Posting to mqtt gets OSErrors"
I'm running on a Magtag using "Adafruit CircuitPython 6.2.0-beta.4 on 2021-03-18; Adafruit MagTag with ESP32S2" and libraries from 3/20/2021, except for a modified adafruit_tlv493d which has a pull request in.  I'm reading data from the tlv and posting the data to a dedicated raspberry pi broker in a loop without delays. Within a handful of seconds I get OSErrors such as:

[code]
and
[code]
I had

[2021-03-20 17:54] lubarb commented on #77
I simplified the code a bit and have discovered that I get the errors even if I'm not accessing the tlv inside the loop. I've gotten errors at < 2000 'reads', but sometimes it also takes 8000 or so....

[code]

[2021-03-24 14:27] brentru commented on #77
What happens if you add a longer delay within the `while True` loop, something like 5 seconds or so?

[2021-03-24 16:11] lubarb commented on #77
I haven't tried longer than 1 second. For what I'm trying to do, I need to be able to capture data about every .25 seconds.

I've tried with no delay at all, and observed that an error usually happens within a few seconds to a minute or so. With a .01 delay, it happens in a couple of minutes to several hours. With earlier code/libraries (so maybe now irrelevant), I had something that ran for 5-10

[2021-03-24 18:57] lubarb commented on #77
I've started a 5 second test. At 90 reads and counting....

[2021-03-25 20:49] brentru commented on #77
Looks like the connection is being closed.

Could you add a `try/except` around your `publish` call:
[code]

[2021-03-25 21:05] lubarb commented on #77
It looks like you're right - the pi running the mqtt server has crashed. I'll rebuild that with another pi and also add the try/except you suggest. Thanks. I'll test & report back.

[2021-03-26 13:49] lubarb commented on #77
The ssd from my original pi gave a verification error when I tried to reinstall Pi OS from scratch, followed quickly by refusing to respond to USB at all. Dead.

I loaded up a different pi & ssd with a fresh OS and mosquitto. I ran a 1 1/2 hr test with a .01 sec delay and the try/except recovered 4 times out of 250,000 publishes. I then ran overnight with a .25 sec delay with zero retries out of 1

[2021-03-26 13:49] #77 closed

[2021-03-26 15:54] bruno963852 commented on #52
@brentru I'm experiencing the same issue...

[2021-03-26 16:06] brentru commented on #76
closed via #78

[2021-03-26 16:06] #76 closed

[2021-03-26 22:30] EnzoPortela commented on #52
@brentru Me too

[2021-04-28 21:06] githubguy007 opened #81 "Getting trapped in publish?"
When using a MatrixPortal with CircuitPython, “publish” will intermittently hang indefinitely without returning any error messages rendering the M4 unresponsive.

This is documented in [Adafruit Forums](https://forums.adafruit.com/viewtopic.php?f=60&t=178594).

[2021-04-28 21:52] ladyada commented on #81
please include *minimal* code that reliably demonstrates the issue

[2021-06-09 21:52] dherrada opened #82 "MemoryError because of too big bytearray"
https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/3c82dda7d4f03926cc0d25f75911ff2702262159/adafruit_minimqtt/adafruit_minimqtt.py#L881

The first 12 lines are normal. Then, for some reason, it stops getting the ISO8601 feed, and the time in-between runs decreases. The time has to be at least .1 seconds, but the loop timeout is .25 seconds, so it should be higher than that if it's st

[2021-06-09 21:53] dherrada commented on #82
In case it's something I'm doing wrong, here's my code: https://gist.github.com/dherrada/cdf2e5f328900b11b9baa224137be4dd

[2021-06-10 14:53] dherrada commented on #82
@brentru Here's the code that should be easier to reproduce with https://gist.github.com/dherrada/ea35a128a1568ed85b126c6f5cbb3506
The code is running on a Metro ESP32-S2 running CircuitPython 6.3.0

[2021-07-01 16:38] dherrada commented on #82
@brentru Oh and btw, I was able to replicate this just using minimqtt.

[2021-07-03 14:24] riffnshred commented on #82
I think I have the same issue. Let me know if not.

Im on a Matrix Portal running Circuit Python 6.3.0 and Adafruit_minimqtt from the most recent library package.

Im working with the Octoprint MQTT pluging to get data from my 3d printer. At some point while the loop() run, it blocks for a good minute and then I get that same memory error but with much smaller byte array then what @dherrada is get

[2021-07-05 21:43] jatmega opened #83 "Seemingly no support for TLS"
Greetings great programmers!

Kowledge level: Copy-pasting and happy when things dont crash :)

It would be of interest for me to be able to use TLS when connecting to the MQTT broker.
I have tried, but not been able to find any way to do this.
It might just be some obvious way to do this, which I just have not found.

There is an example under the ESPSPI-folder, with credentials, but it did not m

[2021-07-05 21:46] ladyada commented on #83
tls is handled at a lower abstraction later, it isnt part of mqtt - if your broker has tls available on a port, just use that port. if you need help with circuitpython projects please use discord

[2021-07-05 21:46] #83 closed

[2021-07-06 10:13] riffnshred commented on #82
@dherrada have you tried using The 7.0.0 alpha version with the matching libraries?

I installed it yesterday morning and let my code run all night since then and my problem is gone.

[2021-07-06 16:07] dherrada commented on #82
@riffnshred Thanks for the testing. I'll try installing 7 and see if that fixes it

[2021-07-06 16:39] riffnshred commented on #82
no problem. side note, just dragging and replacing the libraries didn work for all of them. Deleting and then copy pasting did.

cheers

[2021-07-06 16:42] dherrada commented on #82
Yeah, that's what I've been noticing lately.

[2021-07-07 15:37] dherrada commented on #82
@riffnshred Yep. That fixes it. Thanks!

[2021-07-07 15:37] #82 closed

[2021-07-12 02:45] efremovru opened #85 "OSError: [Errno 9] EBADF"
Folks, i followed the instructions ( https://learn.adafruit.com/mqtt-in-circuitpython/circuitpython-wifi-usage ) to the T and yet i can not figure out what is the reason for the error. I am using FeatherS2 and Thonny (Mu refuses to work on my machine). Here is the full printout of the results

Connecting to Adafruit IO...
Connected to Adafruit IO! Listening for topic changes on efremovru/feeds/ono

[2021-07-12 13:51] brentru commented on #85
Are you using the absolute latest version of both this library _and_ the CircuitPython firmware?

[2021-07-12 14:25] efremovru commented on #85
Yes on the library, I downloaded it few days ago. I bought the FeatherS2 in March/2021. Is there a newer version of the firmware?

From: Brent Rubell ***@***.***>
Sent: Monday, July 12, 2021 9:52 AM
To: adafruit/Adafruit_CircuitPython_MiniMQTT ***@***.***>
Cc: efremovru ***@***.***>; Author ***@***.***>
Subject: Re: [adafruit/Adafruit_CircuitPython_MiniMQTT] OSError: [Errno 9] EBADF (#85)

Are you

[2021-07-12 14:47] FoamyGuy commented on #85
You can find the latest firmware downloads for that device here: https://circuitpython.org/board/unexpectedmaker_feathers2/

`CircuitPython 7.0.0-alpha.4` is the newest released version currently. It's still in the alpha stage, but definitely worth trying out if you are having issues and are using an older version, which is probably likely if you've never loaded a new firmware since getting the de

[2021-07-12 14:48] efremovru commented on #85
OK. Will give it a try and report back.

From: foamyguy ***@***.***>
Sent: Monday, July 12, 2021 10:47 AM
To: adafruit/Adafruit_CircuitPython_MiniMQTT ***@***.***>
Cc: efremovru ***@***.***>; Author ***@***.***>
Subject: Re: [adafruit/Adafruit_CircuitPython_MiniMQTT] OSError: [Errno 9] EBADF (#85)

You can find the latest firmware downloads for that device here: https://circuitpython.org/board/une

[2021-07-13 01:29] efremovru commented on #85
All set. Works as it should!!!

[2021-07-13 01:29] #85 closed

[2021-08-07 13:31] ajlennon opened #86 "Blocking loop() function and issues with PINGREQ and timeout=0"
Hi all,

Thanks for this - am trying to integrate it into some code and having some problems.

One is that I think a reasonable use-case is to call poll() repeatedly in my main loop.

The poll() code documentation states it is non-blocking (as the PAHO call is for example) but it actually blocks for 1s which is not trivial for an embedded system main loop. I suggest timeout should default to 0.

T

[2021-08-10 04:37] garrettheath4 opened #88 "Incorrect type in docstring for second argument of MQTT.add_topic_callback(..)"
The method signature of `MQTT.add_topic_callback(..)` on [line 367 of adafruit_minimqtt.py](https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/62d1921ae674c8cd67a026d18da6305355085946/adafruit_minimqtt/adafruit_minimqtt.py#L367) is:

[code]

As you can see, the docstring indicates that both method arguments are strings. I believe this is an error though. Shouldn't the second argument

[2021-08-10 14:04] brentru commented on #88
Correct, it should be a method. Could you submit a Pull Request fixing this?

[2021-08-11 01:07] garrettheath4 commented on #88
Created PR #89. Sorry I should have just done that from the beginning, lol.

[2021-08-11 01:07] #88 closed

[2021-08-11 15:51] brentru commented on #86
Fixed in #87, closing...

[2021-08-11 15:51] #86 closed

[2021-08-27 10:13] Eason010212 opened #90 "Incorrect remaining length is calculated when topic contains utf-8-3 or utf-8-4 characters in SUBSCRIBE/PUBLISH packets"
Current version of adafruit_minimqtt.py uses **len()** method to calculate a packet's **remaining length**, for example：
https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/c55a4847efdbacaa7cd593fb9c2925191cb33432/adafruit_minimqtt/adafruit_minimqtt.py#L671 https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/c55a4847efdbacaa7cd593fb9c2925191cb33432/adafruit_minimqtt/adafr

[2021-09-27 17:43] FoamyGuy opened #92 "Missing Type Annotations"
There are missing type annotations for some functions in this library.

The `typing` module does not exist on CircuitPython devices so the import needs to be wrapped in try/except to catch the error for missing import. There is an example of how that is done here:

[code]

Once imported the typing annotations for the argument type(s), and return type(s) can be added to the function signature. Here

[2021-10-13 21:55] geudrik opened #93 "This lib doesn't seem to work wtih GCP IOT Core"
Original documentation of this issue [here](https://github.com/adafruit/Adafruit_CircuitPython_GC_IOT_Core/pull/20#issuecomment-941130355)

On my FeatherS2, this code executes without error on the `Receiving CONNACK packet from broker` line. It, however, hangs indefinitely on the `google_mqtt.connect()` call (second to last line in `main.py`). I also see valid TLS traffic via packet capture on my

[2021-10-13 21:56] geudrik commented on #93
Further debugging leaves us [here](https://github.com/adafruit/Adafruit_CircuitPython_RSA/pull/20) - this loop is never broken out of, because `op` never is anything other than `None`. I know squat about the MQTT protocol :(

[2021-10-13 22:32] geudrik commented on #93
Further backtracing leads me to [here](https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/main/adafruit_minimqtt/adafruit_minimqtt.py#L805), which seems to be to indicate that this is a recv timout issue maybe? I have no idea how to resolve this, since `self._sock.recv()`, which I believe is a socket instance, doesn't seem to have documenation around the `recv()` function

[2021-12-22 00:36] FoamyGuy commented on #90
closed by #91

[2021-12-22 00:36] #90 closed

[2022-01-21 16:43] twi11ie opened #98 "No way to use key pair on esp32 native e.g. ESP32-S2 feather (not airlift)"
Is there a way to connect to a MQTT broker that requires key pairs (like AWS MQTT)

Examples and code seem to only support ESP32 co processors.  How can this be done on a ESP32-S3 feather?

[code]

[2022-01-21 18:23] brentru commented on #98
Please see this project which uses AWS IoT: https://learn.adafruit.com/pyportal-iot-plant-monitor-with-aws-iot-and-circuitpython

[2022-01-21 22:09] twi11ie commented on #98
@brentru thanks for the quick response.  that example uses adafruit_esp32spi CircuitPython driver library for using ESP32 as WiFi co-processor using SPI  However I am using the ESP32-S2 feather and ESP32-S2 QT PY.

[2022-01-24 14:22] brentru commented on #98
The example on that guide will need to be modified to work for the ESP32-S2's "native wifi" instead of "airlift wifi".

We have example native networking code here: https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/tree/main/examples/native_networking

[2022-01-24 15:29] twi11ie commented on #98
@brentru thanks again.  I did look at that example.  It may work for some/most password based brokers.  Unfortunately for AWS IOT  we would need a way to (1) set the the AWS IOT thing public/private keys OR (2) support/set SSL ALPN.  e.g. [custom IOT auth](https://docs.aws.amazon.com/iot/latest/developerguide/config-custom-auth.html)

In more detail... based on my understanding, for MQTT to work i

[2022-02-18 14:51] calcut opened #101 "Occasional MemoryError during Adafruit IO loop()"
Adafruit CircuitPython 7.1.1 on 2022-01-14; Adafruit Feather ESP32S2 with ESP32S2

Circup freeze:
Found device at /Volumes/CIRCUITPY, running CircuitPython 7.1.1.
adafruit_datetime==1.1.6
adafruit_htu31d==1.1.3
adafruit_requests==1.10.6
adafruit_ticks==1.0.1
neopixel==6.2.4
adafruit_bus_device==5.1.4
adafruit_io==5.6.1
adafruit_logging==3.7.5
adafruit_minimqtt==5.2.1
adafruit_register==1.9.8

[cod

[2022-02-18 23:10] tekktrik opened #102 "Documentation not building correctly"
For example, the :param: in docstrings are not getting converted as Sphinx markup as expected, not sure how to fix.

[2022-02-19 03:10] askpatrickw commented on #102
@tekktrik should we close this now?

[2022-02-19 04:43] tekktrik commented on #102
Yup!  Thanks @askpatrickw and @FoamyGuy!

[2022-02-20 17:22] ladyada commented on #101
thats odd, how could you get a request for a negative amount? but yeah, a reproducable example would help a ton!

[2022-02-20 22:08] calcut commented on #101
[code.py.txt](https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/files/8105009/code.py
.txt)
Attached is  my minimal example, it seems to be related to:

`io.subscribe_to_time("seconds")`

which means I receive a MQTT message every second.
Not certain its the volume of messages that means it is more likely to show up, or something buggy with those particular messages.

NB, `io.subscribe_t

[2022-02-20 23:01] calcut commented on #101
A bit more digging...
When the error occurs, I can see that topic_len = bytearray(b'01'), in adafruit_minimqtt.py line 843
Typically it is bytearray(b'\x00\r')

Not sure what line 844 achieves (some sort of decoding?)
`topic_len = (topic_len[0] << 8) | topic_len[1]`

But in the error case, I have topic_len[0] = 48, and topic_len[1] = 49
so end up with topic_len = 12337

Finally... after line 848:

[2022-02-20 23:49] calcut commented on #101
If you are trying to reproduce... the error usually occurs every few minutes, but I have seen it go for ~6 hours with no errors

[2022-02-21 08:51] calcut commented on #101
I ran a test overnight, subscribed to 8 random feeds, but NOT to time
e.g. io.subscribe_to_randomizer("2278")

I didn't see the MemoryError. Not exactly conclusive, but my guess is the issue is with the AIO server sending the time messages.

[2022-02-21 10:29] calcut commented on #101
Well, I've got stuck into this now...

Here is some output with a print() in the _sock_exact_recv() function

Normal message:

[code]

Error Case:

[code]

[2022-02-21 13:15] calcut commented on #101
OK, this time I'm printing the number of bytes actually requested with `print(f"{bufsize}, {rc}")`
It explains why I got only 1 byte (b'\x00', from my previous comment).

It's now looking like I'm missing the first b'0', which throws off the sequence for everything else.

Normal Message:
[code]

Error Case:
[code]

[2022-02-21 13:21] calcut commented on #101
New idea, I'm encountering some sort of race condition by hitting the loop() function every 100ms, which happens to be the same timeout  as  `def _wait_for_msg(self, timeout=0.1):`

Trying with 200ms instead...

[2022-02-21 17:04] calcut commented on #101
well, just had the error again with 200ms timeouts. Although it took a while (1 hour maybe)
I reckon I'm just going to catch and ignore the exception.

[code]

[2022-02-22 12:12] calcut commented on #101
Possibly not very helpful... but I've just had the same error while running `io.get(feed)` as opposed to `io.loop()`.
This was during initialisation where I'm first subscribing to feeds

[2022-02-22 14:38] brentru commented on #101
Instead of using the IO library (`io.`), could you try subscribing to your time feed via MiniMQTT instead?

[2022-02-24 09:33] calcut commented on #101
OK, I could still see the error with just MiniMQTT. Code attached.
[memory_error_mqtt_only.txt](https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/files/8131326/memory_error_mqtt_only.txt)
However, I think fiddling with the timeout and timer can make a difference. Will report back when I have something more solid RE: timings.

Also interesting: I haven't managed to recreate the error on a

[2022-02-24 14:44] calcut commented on #101
Its looking like calling `mqtt_client.loop(timeout=0.1)` every 200ms or faster can lead to the error.
At 300ms interval it is looking OK.

(The timeout=0.1 part doesn't seem to matter other than potentially limiting the overall rate due to blocking)

[2022-03-06 21:12] dgriswo opened #105 "Outdated documentation in second RTD location"
It looks like an older version of the documentation is located here: https://adafruit-minimqtt.readthedocs.io/en/latest/api.html
Unfortunately, Google (at least for me) is returning this older version when I search for adafruit_minimqtt.

The docs are correct here: https://docs.circuitpython.org/projects/minimqtt/en/latest/api.html

[2022-03-07 02:18] tekktrik commented on #105
Adafruit recently changed over to host the documentation on their own website, which is what you're seeing.  :)  Hopefully Google will start indexing circuitpython.org results higher!

[2022-03-07 03:17] dgriswo commented on #105
Does it make sense to either remove the old docs entirely or replace them with a redirect?

[2022-03-10 19:40] brentru commented on #101
@calcut  Thank you for doing performance analysis, this is good info! Do you still get a MemoryError by running `io.loop(timeout=0.3)`, since you saw the issue is only occurring <= 200ms?

[2022-03-11 14:07] calcut commented on #101
Realised I wasn't clear about that. I'm running another test with `mqtt_client.loop(timeout=0.3)`
So far no errors, but I did comment earlier:

So I'm not sure why I saw it before and not now. Perhaps I was mistaken previously.

[2022-03-11 15:46] calcut commented on #101
I've now seen the MemoryError on both of my boards with mqtt_client.loop(timeout=0.3).
It usually takes longer to show up though, because the 0.3s is blocking therefore the function is called roughly every 300ms rather than 100ms.

code
[memory_error_mqtt_LEDs.txt](https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/files/8233320/memory_error_mqtt_LEDs.txt)

My neopixel usually gets to MAG

[2022-04-11 22:45] kaelfischer opened #107 "Publishing or receiving large-ish messages reproducibly fails in 2 ways"
This is related to #101 and #81 (I think) but I have a single simple script (attached, zipped for github reasons) that reproduces both problems by adjusting the size of the message. Publishing one particular message gives MemoryError: memory allocation failed, while larger messages than that stop the client from interacting with the broker, resulting in disconnects.

Platform: UnexpectedMaker Feat

[2022-04-11 22:53] kaelfischer commented on #107
Just tested on Adafruit MagTag and the behavior is the same as the FeatherS2.

[2022-04-12 11:26] calcut opened #108 "loop() doesn't fetch all messages for a topic"
Still trying to suss out what is going on here.

At the simplest level, I'm seeing that `mqtt_client.loop()` *usually* only fetches a single message from the queue ~~(for a particular topic)~~, even if there are many messages waiting. I assume this is incorrect behaviour

I have seen that sometimes it does a 'catch up' and fetch all of the messages!
Not sure if this is a quirk of AdafruitIO's MQTT

[2022-04-12 11:28] calcut commented on #108
Should have said, this is:
Adafruit CircuitPython 7.2.5 on 2022-04-06; Adafruit Feather ESP32S2 with ESP32S2

and my code to reproduce is:
[code]

[2022-04-12 11:50] calcut commented on #108
It might just be "User error" i.e. it is supposed to work like this, and I just need to call loop() more often! But calling it too often can lead to https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/issues/101

[2022-04-14 00:00] kaelfischer opened #109 "is_connected raises MMQTTException when not connected, rather that returning False."
I would expect is_connected to return True or False, rather than raise an exception in the False case:
[code]

To recreate:
[code]

[2022-06-28 10:00] calcut opened #110 "Client Hangs during subscribe or unsubscribe"
I've been seeing intermittent failures with MQTT, where function calls can hang and never return.
I've been working around it with a watchdog timer to detect the condition and hard reset the device, which is pretty ugly.

I think various things can cause it, but seems to be reproducable with subscribe or unsubscribe
If I run the code below, it typically loops for 10-30s before getting stuck. Somet

[2022-06-28 10:25] calcut commented on #110
Running it a few more times, I've seen it take 195s to hang.

And it also got to 411s once then has an OS error.

time = 411.3s
Subscribed to time/hours
Traceback (most recent call last):
  File "/circuitpy_septic_tank/septic_tank_aio_debug.py", line 45, in <module>
  File "adafruit_minimqtt/adafruit_minimqtt.py", line 750, in unsubscribe
  File "adafruit_minimqtt/adafruit_minimqtt.py", line 841,

[2022-06-28 20:09] ladyada commented on #110
can you wrap in try/except? wifi is just not a reliable transport

[2022-06-28 20:14] calcut commented on #110
I could try something like that, although most of the time it does not produce an exception. So I think I'd still be relying on some kind of watchdog timer.

I've actually tried switching to http rather than mqtt, (which is much slower due to overheads) but hasn't produced any errors like this so far.

[2022-06-28 20:15] ladyada commented on #110
it should definitely not 'hang' - can you determine where the hang occurs?

[2022-06-28 20:21] calcut commented on #110
Just ran my example again, it hung after 8.7s. i.e stopped printing anything.
After ctrl-c I get the following:

'''
Subscribed to time/hours
Unsubscribed from time/hours
time = 8.1s
Subscribed to time/hours
Unsubscribed from time/hours
time = 8.7s
Subscribed to time/hours
Traceback (most recent call last):
  File "/circuitpy_septic_tank/septic_tank_aio_debug.py", line 45, in <module>
  File "adaf

[2022-06-28 20:29] calcut commented on #110
This is with that latest adafruit_minimqt release 5.3.2
I've also tried with CP 7.3.0, 7.3.1 and 8.0.0-alpha1, just in case. no obvious differences

[2022-06-28 20:59] ladyada commented on #110
kk what if the delay is shorter or longer between sub & unsub? just trying to get as much reproducability deets

[2022-06-29 11:59] calcut commented on #110
Tried no delay and 2s delays. Same behaviour.

Further digging with print statements...

When it 'hangs', I can see
_sock_exact_recv() is being repeatedly called,

It is stuck in the `while True:` loop of `unsubscribe()` waiting for
`op == 176` which never happens.

[2022-06-29 12:11] calcut commented on #110
Maybe getting into the boundary between python and C now...
Behaviour I don't understand, e.g.

[code]

gives me output like this, where I don't understand why rc= would only be printed some of the time.

[code]

[2022-07-23 14:10] blackMagic001 opened #111 "Connect problems using github example code on an esp32-s2 feather"
Hi @brentru @kattni ,

I have been unable to connect to io.adafruit by mqtt, and I wonder if it is the minimqtt library.   I am using the example code below with zero changes.

**Code:**[ /examples/minimqtt_simpletest.py](https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/main/examples/minimqtt_simpletest.py)

Board: Adafruit Esp32-S2 Feather

Firmware: CircuitPython 7.3.2

secrets =

[2022-08-16 20:39] vladak commented on #110
I am having the same problem. Even though the socket timeout is set in https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/67e0adeea9342787fbe715bd1776a8df983ad66b/adafruit_minimqtt/adafruit_minimqtt.py#L267 (to 1 second - cannot be changed), it does not seem to have any effect.

For details see https://forums.adafruit.com/viewtopic.php?p=937190#p937190

[2022-08-16 20:49] vladak opened #112 "allow to set socket timeout"
The socket timeout is set in https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/67e0adeea9342787fbe715bd1776a8df983ad66b/adafruit_minimqtt/adafruit_minimqtt.py#L267 however `_get_connect_socket()` is called without the `timeout` argument https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/67e0adeea9342787fbe715bd1776a8df983ad66b/adafruit_minimqtt/adafruit_minimqtt.py#L44

[2022-08-16 21:02] vladak opened #113 "get more information about failed connect() to the caller"
When `connect()` fails due to repeated failures, it throws `RuntimeError`: https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/67e0adeea9342787fbe715bd1776a8df983ad66b/adafruit_minimqtt/adafruit_minimqtt.py#L269-L279

This is not very useful for the caller. Some suggestions:
  - rethrow the last exception
  - wrap the exceptions raised by `connect()` into `RuntimeError` exception (or

[2022-08-16 21:04] vladak opened #114 "allow to set retry count for connect()"
Similar to #112, it would be nice to be able to set the retry count for `connect()`. Currently it is hard coded to 5: https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/67e0adeea9342787fbe715bd1776a8df983ad66b/adafruit_minimqtt/adafruit_minimqtt.py#L254-L255

[2022-08-16 23:00] vladak opened #115 "MQTT connect() does not timeout, causing hang"
This is pretty much the same as #110 except:
  - it happens for `connect()`
  - I have fully reproducible test case

I think this is actually a CircuitPython problem, however this was discovered while trying to get `adafruit_minimqtt` to work on (supposedly) flaky network, so I am filing this here for initial investigation.

This is happening on `Adafruit CircuitPython 7.3.2 on 2022-07-20; Adafrui

[2022-08-17 10:17] calcut commented on #115
nice work. will be keeping an eye on this

[2022-08-17 11:18] vladak commented on #81
The code in https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/issues/81#issuecomment-836570883 is in dire need of reformatting - use the triple backtick to include larger chunks of code.

[2022-08-17 11:37] vladak commented on #115
I no longer think this is a CircuitPython problem. I adapted the code to run both in CircuitPython and also standard Python environment (it lives on https://github.com/vladak/shield/tree/mqtt_bare) and when running it on Raspbian (64-bit) with Python 3.9.2 against the "rogue" Netcat server, it also hangs.

`strace`-ing the Python process, it just loops in poll() syscall:
[code]
ad infinitum (15 mi

[2022-08-17 18:24] vladak commented on #115
This sort of `while True` pattern is also present in other functions like `publish()`, `subscribe()`, `unsubcribe()`. All of these need to be fixed.

[2022-08-18 15:14] #112 closed

[2022-08-22 16:10] #115 closed

[2022-08-22 16:12] #113 closed

[2022-08-30 17:58] tekktrik commented on #114
You could submit a PR with a similar fix as before, if you're up for it!

[2022-08-31 03:34] tekktrik opened #120 "Make MQTT.__init__() arguments keyword-only"
All existing usages I could find do, so while this is API-breaking, it shouldn't need much work, and protects against accidental argument mix ups.

[2022-08-31 03:36] #114 closed

[2022-09-02 09:05] calcut commented on #110
I believe this issue has been resolved. My minimal example doesn't "hang" with the new version of this library. Although I did get a timeout exception, which I think is desirable behaviour.
[code]

[2022-09-02 09:05] #110 closed

[2022-09-02 09:20] calcut commented on #101
Just ran this again with the latest version of the MQTT library (5.5.0). No change (as expected). I'll have one more stab at figuring out what is happening

[2022-09-02 13:14] calcut commented on #101
partly for my own sanity, this is what I think is happening in more detail

**when things work as expected:**
in adafruit_minimqtt.py, in `the _wait_for_msg()` function, we first request 1 byte.

We expect the response to be `bytearray(b'0')`, which is actually 0x30
This indicates there are more bytes to come.

In this example we expect 0x18 (i.e 24) more bytes, including the topic

we then reques

[2022-09-02 15:59] calcut commented on #101
Still testing... but an alternative solution may be to use non-blocking mode i.e. loop(timeout=0)
Not sure of the history, perhaps this was the intended mode, going by the docstring for loop()  ?

        """Non-blocking message loop. Use this method to
        check incoming subscription messages."""

Anyway, this is currently broken because it can produce an EAGAIN exception (saying there is no

[2022-09-02 16:08] calcut commented on #108
my suggestion to "fix" this is having _wait_for_msg() run in a while loop until no response is received.
response codes could still be returned in a list as shown.

e.g.

[code]

[2022-09-29 04:50] 2bndy5 commented on #109
I too find this annoying. I'm writing a library that needs to set the will/testament before making a connection (without knowing the prior state of connection).

The fact that `is_connected()` can only return `True` or raise an exception makes it more like an `assert` statement. Meaning every time I use this function, I have to wrap it in a `try ... except` clause:
[code]
I could write this withou

[2022-09-29 05:03] 2bndy5 commented on #109
git blames https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/commit/41bc399564c44afb170daf6ed9526d74e422aaf6# which seems to prefer internally using the method as an assertion rather than a getter.

[2022-10-04 06:03] sgbaird commented on #101
@calcut wondering if you could have a look at https://github.com/adafruit/circuitpython/issues/6988

[2022-10-05 20:32] brucewinter opened #124 "Frequent errors in .loop calls with CircuitPython 8"
No problems with CircuitPython 7, but with 8 I get frequent errors in .loop calls, about 1 error for 5->10 0calls, done once a second.

This is my code:

def mqtt_connect():
    try:
        print("Connecting to mqtt server ...")
#       mqtt_client.connect()
        mqtt_client.reconnect()
        print('Connected :)')
        mqtt_subscribes()
    except Exception as e:
        print("mqtt conne

[2022-10-06 00:50] tekktrik commented on #124
This may be related to #101 or #108

[2022-10-06 20:45] brucewinter commented on #124
Thanks for the pointers!   I tried modifing the OSError check suggested at the end of #101 and the  _wait_for_msg()  instead of .loop from #108.   Also tried the suggesions  change the default timeout in _wait_for_msg from 0.1 to 1.0, from circuitpython issues #6988.    None of these changes fixed my problem.

Note that this problem is only with Circuitpython 8, the same code works great withg Cir

[2022-10-07 00:15] tekktrik commented on #52
@bruno963852, @EnzoPortela  - do you still have this issue?  This should be fixed.

[2022-10-16 04:00] BiffoBear commented on #109
I would like to have this return a boolean instead of raising an error so that I can use it in a <while not is_connected:> loop. Since there is already a breaking change pull request in for making <__init__> key word only, perhaps this is a good opportunity to change this behaviour.

[2022-10-17 19:58] mopore commented on #124
I experiencing the same with a Feather **ESP32-S3** TFT and CircuitPython 8.0.0-beta.2.

[2022-10-18 00:03] framework-circuitpython commented on #101
Somewhat related. Not sure If I should open another issue or not...

But my findings were that error.errno returns -116 in 8.0.0-beta and would error out on every loop() attempt

`def _wait_for_msg(self, timeout=0.1):
        """Reads and processes network events."""
        # CPython socket module contains a timeout attribute
        if hasattr(self._socket_pool, "timeout"):
            try:

[2022-10-18 00:11] framework-circuitpython commented on #101
Not sure if I should open another issue or not. It felt like this should go here but it feels like the issue goes deeper than this:

Using loop() in 8.0.0-beta always resulted in a fatal error as error.errno returned -116 which is not caught by ETIMEDOUT or EAGAIN:

[code]

My short term solution was to abs(error.errno) but like I said, it feels like this goes deeper than this library.

[2022-10-18 01:32] dhalbert commented on #101
This seems like it might be a circuitpython core bug. `self._sock_exact_recv()` calls `self._sock.recv()` in the underlying code. I will check the exceptions raise from that.

[2022-10-18 02:08] dhalbert commented on #101
I am getting confused here, because the native sockets do not even implement `recv()`, so I'm not sure who's handling that in `_sock_exact_recv()`.

[2022-10-18 02:22] dhalbert commented on #101
@framework-circuitpython Please try 8.0.0-beta.2 or later. There was an `errno` error fixed for Pico W in beta.2: https://github.com/adafruit/circuitpython/pull/7048.

[2022-10-24 17:04] rdagger commented on #124
Same problem on QT PY ESP32-S2.  Subscribing to a topic on Adafruit IO works reliably in CircuitPython 7.3.3 but unusable in CircuitPython 8.
[code]
I couldn't even get the subscribe method to work until I hard coded a longer timeout.  I tried zero and longer timeouts for the loop method, but nothing seems to work.

[2022-10-27 16:04] jddmartin opened #126 "Lengthy delays in .loop()"
~~There is a recent commit 48aba3c63fc3384f426bd08ededff7d6c2d4fa98 which causes a lengthy delay in calls to .loop() in one of my test programs, which did not occur prior to this commit.~~

**EDIT**: Apologies, I made a mistake in identifying a specific commit.  The commit tagged 5.5.2 shows the lengthy delay, and commits tagged 5.5.1 and 5.5.0 do not show the problem.

I am using an ethernet feat

[2022-10-28 21:59] rpavlik commented on #126
I think I am also seeing this, https://discord.com/channels/327254708534116352/537365702651150357/1035672894761619547

[2022-10-28 22:01] dhalbert commented on #126
@calcut Do you have some comments on this apparently new problem?

[2022-10-31 13:31] calcut commented on #126
Hmm, well this bit is new
[code]

If the mqtt server keeps providing a response to _wait_for_msg, then it will keep looping for ~10 seconds  (_recv_timeout) before giving up.

You could try adding a logger, or at least some print statements to verify if that is what is happening.

[2022-10-31 13:35] calcut commented on #126
have you tried with `timeout = 0`?

[2022-10-31 16:11] calcut commented on #126
interesting... I wouldn't call myself an expert either
I've really just tested with the Adafruit IO broker, but perhaps other brokers behave differently.
Maybe returning some sort of keep-alive or ping response, guessing here.

To debug... my strategy was essentially:

- remove the adafruit_minimqtt.mpy file from your CIRCUITPY/lib/adafruit_minimqtt folder (or rename it with a different extension)

[2022-10-31 21:33] rpavlik commented on #126
I was using a locally-running mosquitto broker, if that helps

[2022-11-01 04:03] BiffoBear commented on #109
The `is_connected()` method is poorly named. It only checks to see if there is a socket and if the variable `self._is_connected' is true. It does not reflect the state of the connection at the moment it is called.

`self._is_connected` is initialised `False` then set to `True` when `connect()` is called and a connection to the broker is successful. `self._is_connected` is set to `False` when `disc

[2022-11-01 09:39] 2bndy5 commented on #109
Being that the intent of this library is to have a minimal footprint ("mini" is in the name), I think it's fine to let `is_connected()` return a private flag describing if `dis/connected()` was called. This at least provides other libraries with a way of understanding the context in which it needs to use minimqtt without slowing things down with a ping [then wait for] pong approach.

As you say, u

[2022-11-01 10:10] BiffoBear commented on #109
I agree with you. Perhaps also renaming `is_connected()` to `connect_called()` and having it return a `bool` would help to remove the ambiguity around the function name, since having the function return `bool` is a breaking change anyway?

[2022-11-01 10:47] 2bndy5 commented on #109
Well I'm not in favor of renaming the function in the public API because that would be even more breaking than limiting the return value to a bool. That suggestion was mainly for the private API. The name `is_connected` is borrowed from paho_mqtt, so it goes against the lib's primary goal if you rename the function in the public API.

Personally, I think you had it right the first time with #125.

[2022-11-01 10:56] BiffoBear commented on #109
Guilty as charged. I was looking at the Paho source code when you replied. I'll reopen the pull request with 'is_connected` returning a `bool`.

Thanks!

[2022-11-01 11:01] 2bndy5 commented on #109
Remember that you can use the `keep_live` param in `connect()`, and then `loop()` should automatically do a ping to the broker when appropriate.

[2022-11-01 15:17] dhalbert commented on #109
@brentru Could you weigh in on this?

[2022-11-01 15:40] brentru commented on #109
@dhalbert @BiffoBear I agree with @2bndy5  - this library's function calls should be similar to Paho MQTT Python's API.

Closing in favor of https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/pull/125

[2022-11-10 18:33] #109 closed

[2022-11-15 09:31] jinglemansweep commented on #126
This is definitely a problem for me too. I can't seem to get any combination of minimqtt running on a Matrix Portal M4.

The loop call hangs for several seconds. Even with Asyncio, this blocks other coroutines and prevents updates to the RGB matrix.

This is pretty bad for a device that claims to be IoT friendly and doesn't even have a useable MQTT client.

[2022-11-15 09:45] calcut commented on #126
I'll take another look today. What broker are you connecting to @jinglemansweep ?
As I mentioned, I haven't had a problem using with AdafruitIO, so maybe other brokers behave differently.

[2022-11-15 09:52] jinglemansweep commented on #126
I'm actually considering taking a look myself after work commitments today. I'm no expert on MQTT protocol though.

I'm using Mosquitto mainly because I want to integrate with Home Assistant. Having a self hosted broker is a must for my uses unfortunately.

Happy to provide any help if needed.

[2022-11-15 10:34] calcut commented on #126
I've just tested with mosquitto running on a RPi, and also on a Mac.
I didn't do any configuration of mosquitto except to turn off the security with

[code]

I started with the simpletest:
https://raw.githubusercontent.com/adafruit/Adafruit_CircuitPython_MiniMQTT/main/examples/minimqtt_simpletest.py

which appears to work fine (assuming the broker ip and port are specified in secrets.py)

I also a

[2022-11-15 10:41] calcut commented on #126
" I have a metro M4 somewhere, I'll try with that too."
Or not! that board doesn't have networking haha

[2022-11-15 10:51] calcut commented on #126
@jinglemansweep  Maybe you could try this... the broker may be returning something that causes this loop to continue

[2022-11-15 10:55] calcut commented on #126
Is everyone who is having a problem using non-native networking I wonder?

This function executes quite differently for "ESP32SPI", which will be what the  M4 Matrix Portal uses.

https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/aec777753afc4460832dc943666de856da41e873/adafruit_minimqtt/adafruit_minimqtt.py#L976-L1005

I guess it doesn't return "None", but I don't have a suitable b

[2022-11-15 11:00] jinglemansweep commented on #126
I will give this a go later this afternoon. I actually have another Matrix Portal M4 arriving today which I'll use for testing.

[2022-11-15 11:08] calcut commented on #126
great.
poking a little deeper, it looks like

_sock_exact_recv *should* raise OSError(errno.ETIMEDOUT)
https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/aec777753afc4460832dc943666de856da41e873/adafruit_minimqtt/adafruit_minimqtt.py#L989

which should be caught by

_wait_for_msg
https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/aec777753afc4460832dc943666de856da41e873

[2022-11-15 19:16] jddmartin commented on #126
@calcut thank you for suggestion on diagnostics and sorry for the delay in responding.

When I put in those suggested print statements (8th message in this thread), I get:
received: 0
received: 0
received: 0
...
received: 0
received: 0
timed out after 10s

Thanks.

[2022-11-15 20:28] jinglemansweep commented on #126
So, I'm getting `0` instead of `None`. That's with no messages queued or being received, in its idle waiting state:

    received: 0
    received: 0
    received: 0
    <snip>

Changing the above line to:

    if rc is None or rc == 0:
        break

... fixes the issue. My RGB matrix updates with a decent framerate, with a `mqtt_client.loop(timeout=0.001)` call.

[2022-11-15 20:52] jinglemansweep commented on #126
Actually, looking at `_wait_for_msg` function:

    # Block while we parse the rest of the response
    self._sock.settimeout(timeout)
    print(res)
    if res in [None, b""]:
        # If we get here, it means that there is nothing to be received
        return None

Adding the `print` statement returns the following:

    bytearray(b'\x00')
    bytearray(b'\x00')
    bytearray(b'\x00')
    byte

[2022-11-15 21:05] jinglemansweep commented on #126
Okay, that doesn't work for some reason. If `_wait_for_msg` returns `None` at that stage, it appears to cause too many polls, locking up the RGB matrix and eventually causing a `MemoryError`:

      File "/lib/adafruit_minimqtt/adafruit_minimqtt.py", line 874, in loop
      MemoryError: memory allocation failed, allocating 32768 bytes

[2022-11-15 21:07] jinglemansweep commented on #126
Okay, my mistake. That line should probably be:

    if res in [None, b"", bytearray(b'\x00')]:
        # If we get here, it means that there is nothing to be received
        return None

[2022-11-15 22:53] jddmartin commented on #126
The most recent suggestion of @jinglemansweep  fixes the issue for me (RP2040 feather, with ethernet feather wing, talking to mosquitto broker on LAN).

[2022-11-16 09:52] calcut commented on #126
nice work @jinglemansweep, you up for doing a PR to fix it?

[2022-11-16 09:52] jinglemansweep commented on #126
Sure. I have a branch ready but didn't have permission to push to it

[2022-11-16 12:52] dhalbert commented on #126
This is on your end, you mean? A PR is fine.

[2022-11-16 13:30] jinglemansweep commented on #126
Yes, I usually create a branch, push my changes to my branch and submit a PR to get it merged into master/main

I get permission denied when pushing my branch

[2022-11-16 13:37] dhalbert commented on #126
Did you fork the repo? If you want to make a branch, it needs to be on your fork; you can't make a branch on the `adafruit` repo. We have a guide here: https://learn.adafruit.com/contribute-to-arduino-with-git-and-github

[2022-11-16 16:25] dhalbert commented on #126
Fixed by #127, but could use further diagnosis.

[2022-11-16 16:25] #126 closed

[2022-11-16 16:28] dhalbert opened #128 "Sometimes receiving single zero byte"
Why does #127 fix #126? As mentioned by @brentru in https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/pull/127#issuecomment-1317271214 and following

[2022-11-20 23:55] flavio-fernandes opened #129 "adafruit_minimqtt connect is not consistent when checking username"
I got in trouble with CONNECT in the following way:

[code]
^^ Note that username and password are not `None`. They are an empty string `""`.

[code]

on the mqtt server side, I observe the following:

[code]

It turns out, the existing logic in the code that checks if username is provided is not consistent when
determining if such needs to be sent or not:

https://github.com/adafruit/Adafruit_Cir

[2022-11-25 17:38] flavio-fernandes commented on #128
hi @dhalbert . Thank you for opening this issue!
A change in behavior I observe with recent MiniMQTT is that the `client.loop()` :
https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/blob/b707805400fca9b2d49373c72bbf510edda6c209/adafruit_minimqtt/adafruit_minimqtt.py#L837
is now blocking until "something happened". In the past, calling it would return right away if there was no work for it